<div class="form-group">
    <label for="name-control">Name</label>
    <input type="text" class="form-control" id="name-control" placeholder="Rouen">
</div>

<div class="form-group">
    <label for="select-control">Example select</label>
    <select class="form-control" id="select-control">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="check-control">
    <label class="form-check-label" for="check-control">
      Visité ?
    </label>
  </div>

  <button class="btn btn-success" 
             (click)="onCityAdd()">Ajouter une ville</button>
