<app-header></app-header>

<main class="container container-fluid">

  <div class="row mt-4">
    <section class="col-md-8">

      <div class="row">
        <h1>Cities I've visited</h1>
  
        <table class="table table-striped mt-2">
          <!--Table head-->
            <thead>
                <tr>
                    <th>City</th>
                    <th>Country</th>
                    <th>Action</th>
                </tr>
            </thead>
          <!--Table head-->
    
          <!--Table body-->
            <tbody>
              <!-- Ligne d'exemple -->
              <tr app-city-row name="Barcelone"></tr>
              <tr app-city-row name="Madrid"></tr>
              <tr app-city-row name="Aix-en-provence"></tr>
            </tbody>
          <!--Table body-->
          </table> 
      </div>
  
      <div class="row">
        <h1>List</h1>
  
        <table class="table table-striped mt-2">
          <!--Table head-->
            <thead>
                <tr>
                    <th>City</th>
                    <th>Country</th>
                    <th>Action</th>
                </tr>
            </thead>
          <!--Table head-->
    
          <!--Table body-->
            <tbody>
              <!-- Ligne d'exemple -->
              <tr app-city-row name="Barcelone"></tr>
              <tr app-city-row name="Madrid"></tr>
              <tr app-city-row name="Aix-en-provence"></tr>
            </tbody>
          <!--Table body-->
          </table> 
        </div>
    </section>
  
    <aside class="col-md-4">
      <h1>Ajouter</h1>
      <app-form [onCityAdd]="addCity"></app-form>
    </aside>  
  </div>
  </main>